@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
	margin:0;
	padding:0;
	font-family: 'Be Vietnam Pro', sans-serif;
}

/*--------------------------- Heading --------------------------*/

h2{
	text-align:center;
	margin-bottom: 30px;
  word-spacing: 2px;
  font-size: 30px;
  letter-spacing: 1px;
  color:#232b2b;
}

h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin: 0 auto;
  background-color:#FF8000;
  margin-top:15px;
}

/*--------------------------- Header Section --------------------------*/

.header{
	height:115vh;
	background:linear-gradient(to bottom,#EFC6B4,#F6D8C9,#EECAB9);
}

.header nav ul{
	list-style:none;
}

nav ul li{
	float:left;
	padding:40px 20px;
	color:#814141;
	font-size:13px;
	/*font-weight:600;*/
	cursor: pointer;
	transition:all 1s;
}

nav ul li:hover{
	color:#FF8000;
}

nav ul li:first-child{
	padding-top:30px;
	margin:0 80px;
}

nav ul li p{
	font-family: 'Carter One', cursive;
	font-weight:100;
	font-size:23px;
	color:#814141;
	letter-spacing:1px;
	float:left;
	margin-left:10px;
	cursor:pointer;
}


nav ul li img{
	width:40px;
	float:left;
	cursor:pointer;
}


nav .btn{
	float:right;
	margin:30px 50px 0 0;
}

nav a{
	text-decoration:none;
	color:#814141;
	font-size:13px;
}

a.sign-up{
	background-color:#FF8000;
	color:#fff;
	padding:13px 30px;
	border-radius:5px;
	margin-left:30px;
	transition:all 1s;
}

a.sign-up:hover{
	background-color:#ff4500;
}

.header .text{
	clear:both;
	margin-left:100px;
	position:absolute;
	top:230px;
}

.text h1{
	color:#814141;
	font-size:60px;
	letter-spacing:1px;
	line-height:90px;
}

.text p{
	width:400px;
	font-size:20px;
	color:#A95C68;
	margin-bottom:30px;
}

.text input[type="text"]{
	width:260px;
	height:47px;
	text-indent:20px;
	border:none;
	border-radius:8px 0 0 8px;
	outline:none;
}

.text input[type="text"]::placeholder{
	color:#898a74;
}

.text input[type="submit"]{
	text-decoration:none;
	background-color:#FF8000;
	color:#fff;
	padding:15px 23px;
	border:none;
	border-radius:0 8px 8px 0;
	margin-left:-3px;
	transition:all 1s;
}

.text input[type="submit"]:hover{
	background-color:#ff4500;
}

img.bg{
	width:800px;
	position:absolute;
	top:50px;
	right:0;
}

.container{
	width:1040px;
	color:#fff;
	display:flex;
	margin-left:150px;
	margin-top:-90px;

	box-shadow: 0px 15px 10px -15px #111;
}


.container .count{
	width:260px;
	height:190px;
	background-repeat:no-repeat;
	background-position:center;
	background-position-x:40px;

	position:relative;
}

.container .count:first-child{
	background-image:url('../img/bookicon.png');
	background-color:#84bb45;
}

.container .count:nth-of-type(2){
	background-image:url('../img/audioicon.png');
	background-color:#43c5b9;
}

.container .count:nth-of-type(3){
	background-image:url('../img/magazineicon.png');
	background-color:#f56363;
}

.container .count:last-child{
	background-image:url('../img/videoicon.png');
	background-color:#00adef;
}

.box{
	position:absolute;
	top:65px;
	left:120px;
	letter-spacing:1px;
}

.box p:first-child{
	font-size:20px;
}

.box p:last-child{
	font-size:25px;
	font-weight:600;
}

/*------------------------- Welcome Section --------------------------*/

.section-welcome .section1{
	width:40%;
	padding:100px 0 100px 100px;
	/*background-color:pink;*/
	float:left;
}

.section1 h2{
	margin-left:-100px;
}

.section1 h2:after{
	margin-left:100px;
}

.section1 p{
	/*font-size:16px;*/
	color:#2f4f4f;
	line-height:30px;
	text-align:justify;
	padding-bottom:50px;
}

.section1 a{
	text-decoration:none;
	text-transform:uppercase;
	background-color:#FF8000;
	color:#fff;
	padding:10px 30px;
	border-radius:2px;
	transition:all 1s;
}

.section1 a:hover{
	background-color:#ff4500;
}

.section-welcome .section2{
	width:650px;
	float:left;
}

.section2 img{
	margin:100px 0 0 50px;
	width:100%;
}

/*------------------------- Book Section --------------------------*/

.section-book{
	/*height:300vh;*/
	clear:both;
	/*background:linear-gradient(rgba(247,191,190,0.5),rgba(250,218,221,0.2)),url('../img/library6.jpg');*/
	background-size:cover;
	background:linear-gradient(to bottom,#EFC6B4,#F6D8C9,#EECAB9);
	color:#fff;
	/*background-attachment:fixed;*/
	padding:100px 0;
}

.section-book .heading{
	width:600px;
	margin:auto;
}

.section-book h2{
	color:#814141;
	margin-bottom:10px;
	font-size:33px;
}

.section-book i{
	display:block;
	text-align:center;
	font-size:14px;
	/*color:#f4f0ec;*/
	color:#A95C68;
	margin-bottom:60px;
}

.section-book .categories{
	margin:0 0 70px 260px;
}

.categories a{
	text-decoration:none;
	text-transform:uppercase;
	background-color:#3e3e3e;
	font-size:12px;
	color:#fff;
	padding:13px 27px;
	border:none;
	margin-right:8px;
	transition:all .5s;
}

.categories a:hover{
	background-color:#FF8000;
}

.categories a:nth-of-type(1){
	background-color:#FF8000;
}

.section-book .books{
	overflow:hidden;
	margin-bottom:70px;
}

.books .img-box{
	width:25%;
  height:230px;
	position:relative;
	float:left;
	overflow:hidden;
}

.img-box .img{
	width:100%;
  height:230px;
  position:relative;
  z-index:1;
}

.books .img-box::before{
	content:'';

	width:100%;
	height:100%;
	background-color:rgba(253,88,0,0.7);

	position:absolute;
	top:0;
	left:0;

	transform:translateY(100%);

	transition:all 0.3s ease;
}

.books .img-box:hover::before{
	transform:translateY(0%);
	z-index:2;
}

.img-box .img img{
	width:100%;
	height:230px;
}

.img-box .overlay-text{
	position:absolute;
	top:0;
	text-align:center;
	opacity:0;
	transition:all 0.6s ease;
	margin:30px 0 0 72px;
	/*margin:30px 70px;*/
	z-index:3;
}

.overlay-text h3{
	margin-bottom:5px;
}

.overlay-text i{
	display:inline;
	font-size:10px;
	color:#fff;
}

.overlay-text p{
	font-size:14px;
	margin-bottom:5px;
}

.overlay-text p:nth-of-type(3){
	margin-top:5px;
	margin-bottom:10px;
}

.overlay-text a{
	text-decoration:none;
	color:#fff;
}

.overlay-text .i{
	font-size:16px;
	margin:13px 20px 0 0;
	display:inline-block;
	transition:all 1s;
}

.overlay-text i:hover{
	color: #000;
}

.img-box:hover .overlay-text{
	opacity:1;
}

.section-book a.view{
	text-decoration:none;
	text-transform:uppercase;
	background-color:#FF8000;
	font-size:17px;
	color:#fff;
	padding:13px 27px;
	border:none;
	margin-left:45%;
}	

/*------------------------- Selection Section --------------------------*/

.section-selection .selection{
	float:left;
	width:28%;
	background-color:#f9b81e;
	position:relative;
	overflow:hidden;
	color:#fff;
	transition:all .3s ease-in-out;
}

.selection:hover{
	background-color:#fff;
	color:#000;
}

.selection::before{
	content:'';

	width:250px;
	height:250px;

	background-image:url('../img/bicon1.png');
	background-repeat:no-repeat;

	position:absolute;
	top:50px;
	left:160px;


	transition:all .3s ease-in-out;
}

.selection:hover::before{
	transform:translateY(-50px);
	opacity:0;
}

.selection::after{
	content:'';

	width:250px;
	height:250px;

	background-image:url('../img/bicon2.png');
	background-repeat:no-repeat;

	position:absolute;
	top:50px;
	left:160px;

	transform:translateY(50px);

	transition:all .3s ease-in-out;

	opacity:0;
}

.selection:hover::after{
	transform:translateY(0);
	opacity:1;
}

.selection img{
	position:absolute;
	top:50px;
	left:160px;
	opacity:0;
}

.selection .text-box{
	padding:0 30px 40px 30px;
	text-align:center;
	margin-top:130px;
}

.selection .text-box h3{
	margin-bottom:20px;
	letter-spacing:1px;
}

.selection .text-box p{
	font-size:14px;
	line-height:30px;
	margin-bottom:35px;
}

.selection .text-box a{
	text-decoration:none;
	font-size:13px;
	color:#fff;
}

.selection1,.selection2,.selection3{
	margin-top:110px;
}

.selection1,.selection4{
	margin-left:100px;
}

.selection1:hover{
	box-shadow:-5px -5px 15px #eee;
}

.selection1:hover a{
	color:#f9b81e;
}

.section-selection .selection2{
	background-color:#84bb45;
}

.selection2:hover{
	background-color:#fff;
	box-shadow:0px -15px 10px -10px #eee;
}

.selection2:hover a{
	color:#84bb45;
}

.selection2::before{
	background-image:url('../img/ebicon1.png');
}

.selection2::after{
	background-image:url('../img/ebicon2.png');
}

.section-selection .selection3{
	background-color:#00adef;
}

.selection3:hover{
	background-color:#fff;
	box-shadow:0px -15px 10px -10px #eee;
}

.selection3:hover a{
	color:#00adef;
}

.selection3::before{
	background-image:url('../img/dicon1.png');
}

.selection3::after{
	background-image:url('../img/dicon2.png');
}

.selection4,.selection5,.selection6{
	margin-bottom:110px;
}

.section-selection .selection4{
	background-color:#f56363;
}

.selection4:hover{
	background-color:#fff;
	box-shadow:-5px 5px 15px #eee;
}

.selection4:hover a{
	color:#f56363;
}

.selection4::before{
	background-image:url('../img/micon1.png');
}

.selection4::after{
	background-image:url('../img/micon2.png');
}

.section-selection .selection5{
	background-color:#b032e4;
}

.selection5:hover{
	background-color:#fff;
	box-shadow: 0px 15px 10px -10px #eee;
}

.selection5:hover a{
	color:#b032e4;
}

.selection5::before{
	background-image:url('../img/aicon1.png');
}

.selection5::after{
	background-image:url('../img/aicon2.png');
}

.section-selection .selection6{
	background-color:#43c5b9;
}

.selection6:hover{
	background-color:#fff;
	box-shadow: 0px 15px 10px -10px #eee;
}

.selection6:hover a{
	color:#43c5b9;
}

.selection6::before{
	background-image:url('../img/eicon1.png');
}

.selection6::after{
	background-image:url('../img/eicon2.png');
}

/*------------------------- Testimonial Section --------------------------*/

.section-testimonial{
	clear:both;
	height:80vh;
	background:linear-gradient(to bottom,#EFC6B4,#F6D8C9,#EECAB9);
	padding-top:80px;
	padding-bottom:80px;
}

.section-testimonial h2{
	color:#232b2b;
	margin-bottom:10px;
}

.section-testimonial i{
	display:block;
	text-align:center;
	color:#6b6b6b;
	font-size:14px;
}

.testimonial-box{
	width:600px;
	float:left;
	margin:60px 20px 0 0;
}

.testimonial-box .testimonial{
	position:relative;
}

.testimonial-box img{
	float:left;
	height:260px;
}

.arrow-left{
	width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #f4f4f4;
    position: absolute;
    left:155px;
    top:110px
}

.testimonial-box p{
	float:left;
	width:350px;
	background-color: #f4f4f4;
	padding:35px;
	text-align:center;
	font-size:15px;
	line-height:2;
}

.testimonial-box p::before{
		content:'\201C';
    color: #ff7236;
    display: block;
    font-size: 50px;
    line-height: 33px;
    margin-bottom: 13px;
    font-family:'Open Sans',sans-serif;
}

.testimonial-box p::after{
		content: "\201D";
    color: #ff7236;
    display: block;
    font-size: 50px;
    line-height: 25px;
    position: relative;
    top: 17px;
    font-family:'Open Sans',sans-serif;
}

.testimonial-box .info{
	clear:both;
	width:555px;
	box-shadow: 0 0 14px 0 rgb(0 0 0 / 7%);
	padding:20px;
}

.info span{
	padding-right:200px;
	color: #282828;
	font-size:15px;
}

.info i{
	display:inline-block;
	padding-right:20px;
	transition:all 1s;
}

.info i:hover{
	color:#FF8000;
}

.info i:last-child{
	padding-right:0;
}

.testimonial-box:nth-of-type(1){
	margin-left:65px;
}

/*------------------------- Contact Section --------------------------*/
.section-contact{
	clear:both;
	margin-top:150px;
	margin-left:100px;
	padding-bottom:100px;
}

.contact-box{
	width:350px;
	height:160px;
	background-color:#f8f2f2;
	position:relative;
	float:left;
	margin-right:40px;
}

.icon{
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    background:#f8f2f2;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -40px;
    z-index: 1;
    margin-left: -40px;
}

.icon::after{
	position: absolute;
    left: 10px;
    top: 10px;
    height: 60px;
    width: 60px;
    background:#e65783;
    /*background:#FF8000;*/
    border-radius: 50%;
    content: "";
    z-index: -1;
}

.contact-box h5{
	color: #200204;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    /*float:left;*/
    padding-top:50px;
    text-align:center;
}

.contact-box p{
	color: #200204;
    font-size: 15px;
    text-align:center;
}

/*------------------------- Newsletter Section --------------------------*/

.section-footer{
	clear:both;
	width:100%;
	/*height:100vh;*/
	background:linear-gradient(to bottom,#EFC6B4,#F6D8C9,#EECAB9);
	margin-top:300px;

}

.section-news{
	width:84%;
	float:left;
	margin:-200px 100px 0 100px;
	background-image:url('../img/bg1.jpg');

}

.section-news .subscribe{
	width:600px;
	margin:auto;
	padding:75px 0;
}

.subscribe h2{
	color:#fff;
	margin-bottom:10px;
}

.subscribe h2::after{
	background:transparent;
}

.subscribe p{
	color:#9498A7;
	text-align:center;
	line-height:1.5;
	margin-bottom:30px;
}

.subscribe .input{
	margin-left:120px;
}

.subscribe input[type="email"]{
	width:260px;
	height:47px;
	text-indent:20px;
	border:none;
	border-radius:8px 0 0 8px;
	outline:none;
}

.subscribe input[type="email"]::placeholder{
	color:#898a74;
}

.subscribe input[type="submit"]{
	text-decoration:none;
	background-color:#FF1616;
	/*background-color:#e0115f;*/
	color:#fff;
	padding:15px 23px;
	border:none;
	border-radius:0 8px 8px 0;
	margin-left:-3px;
	cursor:pointer;
}

/*------------------------- Footer Section --------------------------*/

.footer{
	clear:both;
	padding:100px 0 100px 100px;
	display:flex;
}

.div1{
	width:300px;
	margin-right:40px;
}

.footer .div1 img{
	width:40px;
	float:left;
	cursor:pointer;
}

.div1 p{
	font-family: 'Carter One', cursive;
	font-weight:100;
	font-size:23px;
	color:#814141;
	letter-spacing:1px;
	float:left;
	margin-left:10px;
	cursor: pointer;
}

.div1 span{
	clear:both;
	display:block;
	line-height:1.7;
	padding:30px 0;
	color:#A95C68;
}

.div1 a{
	  background: none;
    color: #9498A7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    border: 1px solid #EEE1E0;
    transition:all .5s;
}

.div1 a:hover{
	background-color:#FF8000;
	color:#fff;
	border:1px solid #FF8000;
}


.footer h2{
	font-size:18px;
	color:#814141;
	text-align:left;
}

.footer h2::after{
	margin:10px 0;
	width:60px;
}

.footer ul{
	list-style:none;
}

.footer ul li{
	color:#A95C68;
	font-size:15px;
	margin-bottom:10px;
}

.div2{
	margin-right:40px;
}

.div2 ul li i{
	font-size:13px;
	margin-right:10px;
}

.div2 ul li:hover{
	color:#FF8000;
}

.div3{
	margin-right:40px;
}

.div3 li:last-child{
	color:#FF8000;
	margin-top:15px;
	cursor:pointer;
}

.div3 li span{
	color:#A95C68;
	padding:0 10px;
	cursor:context-menu;
}

.div4{
	width:400px;
}

.div4 i{
	font-size:35px;
	color:#814141;
	float:left;
	padding-top:5px;
}

.div4 p{
	width:350px;
	float:left;
	line-height:2;
	margin-left:10px;
	color:#A95C68;
  margin-bottom:20px;
  font-size:15px;
}

.div4 p span{
	color:#FF8000;
	transition:all .5s;
}

.div4 p span:nth-of-type(1):hover{
	color:#A95C68;
}

.div4 p span:nth-of-type(2):hover{
	color:#A95C68;
}

.copyright{
	clear:both;
	color:#A95C68;
	text-align:center;
	padding:30px 0 5px 0;
}

.copyright i{
	color:#814141;
}

